*{
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.indice{
    background-color: grey;
}

.barra{
    background-color: green;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.barra a{
    margin-left: 25px;
    font-size: 25px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.autor{
    margin-top: 275px;
    margin-left: 50px;
    text-align: center;
    color: white;
}

.contenedor{
    width: 60%;
    margin: 0px auto;
}

.contenedor h2{
    text-align: center;
    margin:10px 0px;
}

.ejemplos{
    text-align: justify;
}

.calculadora{
    border: 1px solid;
    width: 50%;
    text-align: center;
    margin: 20px auto;
}

[type="text"]{
    width: 100%;
    text-align: center;
}

.campo{
    width: 60%;
    margin: 10px auto;
}

.cabecera{
    background-color:green;
    color: white;
}

.footer{
    margin-top: 10px;
    margin-bottom: 10px;
}
